
.dashboard-main{
    margin: 40% 0;
    overflow: auto;
}
.Dashboard-link{
    position: relative;
    margin-bottom: 5%;
    float: left;
    cursor:pointer;
}

@media only screen and (min-width: 600px)  {
    .dashboard-main {margin-top: 15%;}
  }