
.dashboard-main{
    overflow: auto;
}
.Dashboard-link{
    position: relative;
    margin: 10px 0 0 10px;
    cursor:pointer;
}

@media only screen and (min-width: 600px)  {
    .dashboard-main {margin-top: 2%;}
  }