* {
  box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

body {
  font-family: "Noto Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  min-height: 100vh; 
}

.App{
  min-height: 100vh; 
 overflow: hidden;
 display: block;
 position: relative;
}

footer {
  background-color: #11585C;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
}


p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.logo {
  font-family: "Lobster";
}