.album-list-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.album-link-main{
    margin: 15px;
    padding: 20px 8px;
    background-color: #EBC847;
    border-radius: 80px;
    width: 120px;
    height: 120px;
    display: block;
    border: 0;
   
}
.album-link-main a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
@media only screen and (min-width: 600px)  {
    .album-list-main {flex-direction: row;}
  }